{% extends "layers/job_table.html" %}

{% block navbar %}
    <div class="nav-item">
        <h2><code>jmanl</code></h2>
    </div>
    <div class="nav-item">
        <p>This page is a wrapper around the <code>jmanl username timeslice raw</code> command, which returns a table of completed jobs for a particular user on Metis.</p>
    </div>
    {% match username %}
        {% when None %}
            <div class="nav-item">
                <p>You cannot view this data, please <a href="{{ url_prefix }}/login">log in</a> to view it.</p>
            </div>
        {% when Some with (username) %}
            <div class="filter-container">
                <h3>Filters</h3>
                {% match user_query %}
                    {% when Some with (user_query) %}
                        <input type="text" id="user" placeholder="Username" value="{{ user_query }}"/>
                    {% when None %}
                        <input type="text" id="user" placeholder="Username" value="{{ username }}"/>
                {% endmatch %}
                <div>
                    <label for="date-dropdown"><b>Date:</b></label>
                    {% match date_query %}
                        {% when Some with (date_query) %}
                            <select id="date-dropdown">
                                {% if date_query == "all" %}
                                    <option value="all" selected="selected">All</option>
                                {% else %}
                                    <option value="all">All</option>
                                {% endif %}
                                {% if date_query == "day" %}
                                    <option value="day" selected="selected">Day</option>
                                {% else %}
                                    <option value="day">Day</option>
                                {% endif %}
                                {% if date_query == "month" %}
                                    <option value="month" selected="selected">Month</option>
                                {% else %}
                                    <option value="month">Month</option>
                                {% endif %}
                                {% if date_query == "year" %}
                                    <option value="year" selected="selected">Year</option>
                                {% else %}
                                    <option value="year">Year</option>
                                {% endif %}
                            </select>
                        {% when None %}
                            <select id="date-dropdown">
                                <option value="all">All</option>
                                <option value="day">Day</option>
                                <option value="month" selected="selected">Month</option>
                                <option value="year">Year</option>
                            </select>
                    {% endmatch %}
                </div>
            
                <br>
            
                <button id="search-button">Search</button>
            </div>
    {% endmatch %}

    <script>
        const search_button = document.getElementById('search-button');
        const user_input = document.getElementById('user');
        const date_dropdown = document.getElementById('date-dropdown');
    
        search_button.addEventListener('click', () => {
            const user = user_input.value;
            const date = date_dropdown.value;
            window.location.href = `{{ url_prefix }}/completed?user=${user}&date=${date}`;
        });
    </script>
{% endblock %}

{% block pre_jobs %}
{% if needs_login == false || (username.is_some() && jobs.len() > 0) %}
{% let total_jobs = jobs.len() %}
{% let successful_jobs = toolkit.total_successful_jobs(jobs) %}
<div class="completed-table-container">
    <table class="job-table">
        <tr>
            <th>Total Jobs</th>
            <th>Successful Jobs</th>
            <th>Total CPU Time</th>
        </tr>
        <tr>
            <td>{{ total_jobs }}</td>
            <td>
                {{ successful_jobs }}
                {% match toolkit.div_two_i32s_into_f32(successful_jobs.to_string()|as_ref|as_ref, total_jobs.to_string()|as_ref|as_ref) %}
                {% when Ok with (percent_successful_jobs) %}
                 ({{ format!("{:.2}", percent_successful_jobs * 100f32) }}%)
                {% when Err with (_) %}
            {% endmatch %}
            </td>
            <td>{{ toolkit.total_cpu_time(jobs) }}</td>
            
    </table>
</div>
{% endif %}
{% endblock %}