{% extends "../layers/navbar_jobs.html" %}

{% block navbar %}
    <div class="nav-item">
        <h2><code>jobstat</code></h2>
    </div>
    <div class="nav-item">
        <p>This page is a wrapper around the <code>jobstat -anL</code> and <code>grep</code> commands, which returns a list of all running jobs on Metis.</p>
    </div>
    {% match username %}
        {% when None %}
        <div class="nav-item">
            <p>Job names are currently redacted, please <a href="login">log in</a> to view them.</p>
        </div>
        {% when Some with (_) %}
    {% endmatch %}
{% endblock %}

{% block jobs %}
    <div class="completed-table-container">
        <table class="job-table">
        <tr>
            {% for table_entry in table_entries %}
                <th>
                    {% if table_entry.sort_by == "NOT_SORTABLE" %}
                        {{ table_entry.name }}
                    {% else %}
                        <!-- Black text -->
                        <a href="#" id="{{ table_entry.name }}"
                            style="color: black;"
                        >{{ table_entry.name }}</a>
                    {% endif %}
                </th>
                <script>
                    document.getElementById("{{ table_entry.name }}").addEventListener("click", function(event) {
                        event.preventDefault(); // Prevent default link behavior
            
                        // The sort parameter you want to add
                        const sortText = "{{ table_entry.sort_by}}"; // This could be dynamic, based on your specific sorting logic
            
                        // Get the current URL
                        const currentUrl = window.location.href;
            
                        // Create a URL object to easily manipulate the query parameters
                        const url = new URL(currentUrl);
            
                        // Set the sort parameter
                        url.searchParams.set("sort", sortText);
            
                        // Toggle the 'reverse' parameter: if it's already true, remove it; otherwise, set it to true
                        if (url.searchParams.has("reverse")) {
                            // If reverse is already set, toggle it off
                            url.searchParams.delete("reverse");
                        } else {
                            // If reverse isn't set, add it
                            url.searchParams.set("reverse", "true");
                        }
            
                        // Redirect to the new URL with the updated query string
                        window.location.href = url.toString();
                    });
                </script>
            {% endfor %}
            <th>More</th>
        </tr>
        {% for job in jobs %}
            <tr>
                <td><b>{{ job["pbs_id"] }}</b></td>
                <td>{{ shorten(job["name"]) }}</td>
                <td><a href="completed?user={{ job["owner"] }}">{{ job["owner"] }}</a></td>
                <td>{{ timestamp_to_date(job["start_time"]) }}</td>
                <td>{{ job["queue"] }}</td>
                <td>{{ job["req_walltime"] }}</td>
                <td>{{ job["req_cpus"] }}</td>
                <td>
                    {% match job.get("req_gpus") %}
                        {% when Some with (gpus) %}
                            {{ gpus }}
                        {% when None %}
                    {% endmatch %}
                </td>
                <td>{{ job["req_mem"] }}GB</td>
                {% match to_i32(job["cpu_efficiency"]) %}
                    {% when Ok with (eff) %}
                        <td style="background-color: rgba({{ 255-(255*eff)/100 }}, {{ (205*eff)/100 }}, 0, 0.5);">
                            {{ eff }}%
                        </td>
                    {% when Err with (_) %}
                {% endmatch %}
                {% match to_i32(job["mem_efficiency"]) %}
                    {% when Ok with (eff) %}
                        <td style="background-color: rgba({{ 255-(255*eff)/100 }}, {{ (205*eff)/100 }}, 0, 0.5);">
                            {{ eff }}%
                        </td>
                    {% when Err with (_) %}
                {% endmatch %}
                {% match to_i32(job["walltime_efficiency"]) %}
                    {% when Ok with (eff) %}
                        <td style="background-color: rgba({{ (255*eff)/100 }}, {{ 205-(205*eff)/100 }}, 0, 0.5);">
                            {{ eff }}%
                        </td>
                    {% when Err with (_) %}
                {% endmatch %}
                <td>
                    <a href="stats?id={{ job["pbs_id"] }}">
                        <button class="table-button">View Detailed Stats</button>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </table>
    </div>
{% endblock %}