{% extends "../layers/navbar_jobs.html" %}

{% block navbar %}
    <div class="nav-item">
        <h2>Stats</h2>
    </div>
    <div class="nav-item">
        <p>
            <b>Note</b>
        </p>
        <p>
            Not all stats are available until the job has completed!
        </p>
    </div>
    {% match username %}
        {% when None %}
            <div class="nav-item">
                <p>You cannot view this data, please <a href="{{ url_prefix }}/login">log in</a> to view it.</p>
            </div>
        {% when Some with (username) %}
    {% endmatch %}
{% endblock %}

{% block jobs %}
    <style>
        .stat-container {
            border-radius: 5px;
            margin-bottom: 5px; /* Space below the header */
            border: 1px solid #ccc;
            text-align: center; /* Center text */
            padding: 10px;
        }
    </style>
    {% match username %}
    {% when Some with (username) %}
        {% match job %}
        {% when Some with (job_tuple) %}
        {% let job = job_tuple.0|as_ref %}
        {% let stats = job_tuple.1|as_ref %}
      
            <div class="job-header">
                <p>
                    <b>Job ID</b>: {{ job["pbs_id"] }}, <b>Job Name</b>: {{ job["name"] }} ({{ job["state"] }}), <b>PBS Requirements</b>: nchunks{{ job["req_select"] }}
                    <br>
                    <b>Submitted by</b> <a href="{{ url_prefix }}/completed?user={{ job["owner"] }}">{{ job["owner"] }}</a> ({{ job["project"] }}) {% if job["start_time"] != "2147483647" %} <b>on</b> {{ job["start_time"] }}{% endif %}
                </p>
                <p>
                    <b>Running on Nodes: </b>
                    <br>
                    {{ job["nodes"] }}
                </p>
            </div>
            <div style="display:grid;grid-template-columns:1fr 1fr;grid-gap:20px;">
                {% for (name, table_entries) in tables %}
                <div class="stat-container">
                    <h3>{{ name }}</h3>
                    <table class="job-table">
                        <tr>
                            <!--
                                Do not remove. Not sure why, but removing this
                                breaks the popover functionality.
                            -->
                        </tr>
                        <tr>
                            {% for table_entry in table_entries %}
                                <th class="popover__wrapper">
                                    {% match table_entry.sort_by %}
                                    {% when None %}
                                        {{ table_entry.name }}
                                    {% when Some with (sortable) %}
                                    <!-- Black text -->
                                    <a href="#" id="{{ table_entry.name }}"
                                        style="color: black;"
                                    >{{ table_entry.name }}
                                    </a>
                                    <script>
                                        document.getElementById("{{ table_entry.name }}").addEventListener("click", function(event) {
                                            event.preventDefault(); // Prevent default link behavior
                                
                                            // The sort parameter you want to add
                                            const sortText = "{{ sortable }}"; // This could be dynamic, based on your specific sorting logic
                                
                                            // Get the current URL
                                            const currentUrl = window.location.href;
                                
                                            // Create a URL object to easily manipulate the query parameters
                                            const url = new URL(currentUrl);
                                
                                            // Set the sort parameter
                                            url.searchParams.set("sort", sortText);
                                
                                            // Toggle the 'reverse' parameter: if it's already true, remove it; otherwise, set it to true
                                            if (url.searchParams.has("reverse")) {
                                                // If reverse is already set, toggle it off
                                                url.searchParams.delete("reverse");
                                            } else {
                                                // If reverse isn't set, add it
                                                url.searchParams.set("reverse", "true");
                                            }
                                
                                            // Redirect to the new URL with the updated query string
                                            window.location.href = url.toString();
                                        });
                                    </script>
                                    {% endmatch %}
                                    <div class="popover__content" style="font-weight:normal;">
                                        {{ table_entry.tooltip|as_ref|escape("none") }}
                                    </div>
                                </th>
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for table_entry in table_entries %}
                                {% match table_entry.stat_type %}
                                {% when TableStatType::ExitStatus %}
                                    <td 
                                        {% if job["exit_status"] == "0" %}
                                            style="background-color: rgba(0, 255, 0, 0.5);"
                                        {% else %}
                                            style="background-color: rgba(255, 255, 0, 0.5);"
                                        {% endif %}
                                        class="popover__wrapper"
                                    >
                                        <div class="popover__content">
                                            {{ toolkit.get_field(job, "exit_status_tooltip")?|escape("none") }}
                                        </div>
                                        {{ toolkit.get_field(job, "exit_status")? }} ⓘ
                                    </td>
                                {% when TableStatType::More %}
                                    <td>
                                        <a href="{{ url_prefix }}/stats?id={{ toolkit.get_field(job, "pbs_id")? }}">
                                            <button class="table-button">View Detailed Stats</button>
                                        </a>
                                    </td>
                                {% when TableStatType::JobID %}
                                    <td>
                                        <b>{{ toolkit.get_field(job, "pbs_id")? }}</b>
                                    </td>
                                {% when TableStatType::JobOwner %}
                                    <td>
                                        <a href="{{ url_prefix }}/completed?user={{ toolkit.get_field(job, "owner")? }}">{{ toolkit.get_field(job, "owner")? }}</a>
                                    </td>
                                {% when TableStatType::JobName with (len) %}
                                    {% if toolkit.get_field(job, "name")?.len()|as_ref > len %}
                                        <td class="popover__wrapper">
                                            <p>
                                                {{ toolkit.shorten(toolkit.get_field(job, "name")?|as_ref, len) }}ⓘ
                                            </p>
                                            <div class="popover__content">
                                                <p class="popover__message">
                                                    <b>Full Job Name:</b><br>
                                                    {{ toolkit.get_field(job, "name")? }}
                                                </p>
                                            </div>
                                        </td>
                                    {% else %}
                                        <td>{{ toolkit.get_field(job, "name")? }}</td>
                                    {% endif %}
                                {% when TableStatType::ColoredRG %}
                                    {% let eff = toolkit.get_field(job, table_entry.value|as_ref)? %}
                                    {% match toolkit.to_i32(eff|as_ref) %}
                                        {% when Ok with (eff) %}
                                            <td
                                                style="background-color: rgba({{ 255-(255*eff)/100 }}, {{ (205*eff)/100 }}, 0, 0.5);"
                                                class="popover__wrapper"
                                            >
                                                <div class="popover__content">
                                                    {{ toolkit.get_field(job, (table_entry.value.clone() + "_tooltip")|as_ref)?|escape("none") }}
                                                </div>
                                                {{ eff }}% ⓘ
                                            </td>
                                        {% when Err with (_) %}
                                            <td style="background-color: rgba(255, 255, 0, 0.5);">{{ eff }}%</td>
                                    {% endmatch %}
                                {% when TableStatType::ColoredYGR %}
                                    {% let eff = toolkit.get_field(job, table_entry.value|as_ref)? %}
                                    {% match toolkit.to_i32(eff|as_ref) %}
                                        {% when Ok with (eff) %}
                                            <td
                                                style="background-color: rgba(
                                                    {% if eff <= 80|as_ref %}
                                                        {{ 255 - (255 * eff / 80) }}
                                                    {% else %}
                                                        {{ (255 * (eff - 80) / 20) }}
                                                    {% endif %},
                                                    {% if eff <= 80|as_ref %}
                                                        205
                                                    {% else %}
                                                        {{ 205 * (100 - eff) / 20 }}
                                                    {% endif %},
                                                    0, 0.5
                                                );"
                                                class="popover__wrapper"
                                            >
                                                <div class="popover__content">
                                                    {{ toolkit.get_field(job, (table_entry.value.clone() + "_tooltip")|as_ref)?|escape("none") }}
                                                </div>
                                                <p style="white-space: nowrap;">{{ eff }}% ⓘ</p>
                                            </td>
                                        {% when Err with (_) %}
                                            <td style="background-color: rgba(255, 255, 0, 0.5);">{{ eff }}%</td>
                                    {% endmatch %}
                                {% when TableStatType::Default %}
                                    <td>{{ toolkit.get_field(job, table_entry.value|as_ref)? }}{{ table_entry.value_unit.clone().unwrap_or(String::new()) }}</td>
                                {% endmatch %}
                            {% endfor %}
                        </tr>
                    </table>
                </div>
                {% endfor %}
            </div>
            <div class="stat-container">
                {% match toolkit.to_i32(job["cpu_efficiency"]) %}
                    {% when Ok with (eff) %}
                        {% let width_eff = 5+eff %}
                        {% if width_eff > 100 %}
                            {% let width_eff = 100 %}
                        {% endif %}
                        <div class="progress-container">
                            <div style="display:flex;justify-content:space-between;">
                                <strong>CPU Efficiency (%)</strong>
                                <strong style="text-align:right;margin-left:auto">🖥️</strong>
                            </div>
                            <div class="progress-bar">
                                <div class="progress-fill" style="width: {{ width_eff }}%; background-color: rgb({{ 255-(255*eff)/100 }}, {{ (205*eff)/100 }}, 0);">
                                    <b>{{ eff }}% </b>
                                </div>
                            </div>
                        </div>
                    {% when Err with (_) %}
                {% endmatch %}
                {% match toolkit.to_i32(job["mem_efficiency"]) %}
                    {% when Ok with (eff) %}
                        {% let width_eff = 5+eff %}
                        {% if width_eff > 100 %}
                            {% let width_eff = 100 %}
                        {% endif %}
                        <div class="progress-container">
                            <div style="display:flex;justify-content:space-between;">
                                <strong>Memory Efficiency (%)</strong>
                                <strong style="text-align:right;margin-left:auto">💾</strong>
                            </div>
                            <div class="progress-bar">
                                <div class="progress-fill" style="width: {{ width_eff }}%; background-color: rgb({{ 255-(255*eff)/100 }}, {{ (205*eff)/100 }}, 0);">
                                    <b>{{ eff }}% </b>
                                </div>
                            </div>
                        </div>
                    {% when Err with (_) %}
                {% endmatch %}
                {% match toolkit.to_i32(job["walltime_efficiency"]) %}
                    {% when Ok with (eff) %}
                        {% let width_eff = 5+eff %}
                        {% if width_eff > 100 %}
                            {% let width_eff = 100 %}
                        {% endif %}
                        <div class="progress-container">
                            <div style="display:flex;justify-content:space-between;">
                                <strong>Walltime Usage (%)</strong>
                                <strong style="text-align:right;margin-left:auto">🕒</strong>
                            </div>
                            <div class="progress-bar">
                                <div class="progress-fill" style="width: {{ width_eff }}%; background-color: rgb({{ (255*eff)/100 }}, {{ 205-(205*eff)/100 }}, 0);">
                                    <b>{{ eff }}%</b>
                                </div>
                            </div>
                        </div>
                    {% when Err with (_) %}
                {% endmatch %}
            </div>
            <div class="stat-container">
                <canvas id="cpuChart" width="400" height="200"></canvas>
                <canvas id="memChart" width="400" height="200"></canvas>
            </div>
            <script>
                const stats_json = {{ stats|tojson|safe }};
                const ctxCpu = document.getElementById('cpuChart').getContext('2d');
                const ctxMem = document.getElementById('memChart').getContext('2d');

                const cpuData = stats_json.map(stat => parseFloat(stat.cpu_percent));
                const memData = stats_json.map(stat => parseFloat(stat.mem));

                console.log(cpuData);
                console.log(memData);
                const cpuChart = new Chart(ctxCpu, {
                    type: 'line',
                    data: {
                        labels: stats_json.map((_, index) => `${stats_json[index].datetime}`),
                        datasets: [{
                            label: 'CPU Usage vs. Date and Time',
                            data: cpuData,
                            borderColor: 'rgba(0, 0, 0, 1)',
                            backgroundColor: 'rgba(0, 0, 0, 0.2)',
                            fill: true,
                        }]
                    },
                    options: {
                        responsive: true,
                        scales: {
                            y: {
                                beginAtZero: true,
                                max: 100,
                                title: {
                                    display: true,
                                    text: 'CPU Efficiency (%)'
                                }
                            },
                            x: {
                                title: {
                                    display: true,
                                    text: 'Date and Time'
                                },
                                ticks: {
                                    autoSkip: true,
                                    maxTicksLimit: 10,
                                }
                            }
                        }
                    },
                });
                const memChart = new Chart(ctxMem, {
                    type: 'line',
                    data: {
                        labels: stats_json.map((_, index) => `${stats_json[index].datetime}`),
                        datasets: [{
                            label: 'Memory Usage vs. Date and Time',
                            data: memData,
                            borderColor: 'rgba(0, 0, 0, 1)',
                            backgroundColor: 'rgba(0, 0, 0, 0.2)',
                            fill: true,
                        }]
                    },
                    options: {
                        responsive: true,
                        scales: {
                            y: {
                                beginAtZero: true,
                                title: {
                                    display: true,
                                    text: 'Memory Usage (GB)'
                                }
                            },
                            x: {
                                title: {
                                    display: true,
                                    text: 'Date and Time'
                                },
                                ticks: {
                                    autoSkip: true,
                                    maxTicksLimit: 10,
                                }
                            }
                        }
                    }
                });
            </script>
        {% when None %}
        {% endmatch %}
    {% when None %}
    {% endmatch %}
{% endblock %}