{% extends "base.html" %}

{% block body %}
    <div class="login-container">
        <div class="branding">
            <h2>CRCD Batchmon Login</h2>
        </div>
        <form action="api/v1/auth/login" method="POST" class="login-form">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            
            <button id="login-button" type="submit"><b>Login</b></button>
        </form>
        {% if failed %}
            <p class="login-alert" id="alert-footer" style="text-align:center">
                <i>Invalid Login! Please Try Again.</i>
            </p>
        {% endif %}
    </div>
{% endblock %}