{% extends "layers/navbar_jobs.html" %}


{% block jobs %}
{% if needs_login == false || (username.is_some() && jobs.len() > 0) %}
    <div class="completed-table-container">
        <table class="job-table">
        <tr>
            <!--
                Do not remove. Not sure why, but removing this
                 breaks the popover functionality.
            -->
        </tr>
        <tr>
            {% for table_entry in table_entries %}
                <th class="popover__wrapper">
                    {% match table_entry.sort_by %}
                    {% when None %}
                        {{ table_entry.name }}
                    {% when Some with (sortable) %}
                    <!-- Black text -->
                    <a href="#" id="{{ table_entry.name }}"
                        style="color: black;"
                    >{{ table_entry.name }}
                    </a>
                    <script>
                        document.getElementById("{{ table_entry.name }}").addEventListener("click", function(event) {
                            event.preventDefault(); // Prevent default link behavior
                
                            // The sort parameter you want to add
                            const sortText = "{{ sortable }}"; // This could be dynamic, based on your specific sorting logic
                
                            // Get the current URL
                            const currentUrl = window.location.href;
                
                            // Create a URL object to easily manipulate the query parameters
                            const url = new URL(currentUrl);
                
                            // Set the sort parameter
                            url.searchParams.set("sort", sortText);
                
                            // Toggle the 'reverse' parameter: if it's already true, remove it; otherwise, set it to true
                            if (url.searchParams.has("reverse")) {
                                // If reverse is already set, toggle it off
                                url.searchParams.delete("reverse");
                            } else {
                                // If reverse isn't set, add it
                                url.searchParams.set("reverse", "true");
                            }
                
                            // Redirect to the new URL with the updated query string
                            window.location.href = url.toString();
                        });
                    </script>
                    {% endmatch %}
                    <div class="popover__content" style="font-weight:normal;">
                        {{ table_entry.tooltip|as_ref|escape("none") }}
                    </div>
                </th>
            {% endfor %}
        </tr>
        {% for job in jobs %}
            <tr>
                {% for table_entry in table_entries %}
                    {% match table_entry.stat_type %}
                    {% when TableStatType::ExitStatus %}
                        <td 
                            {% if job["exit_status"] == "0" %}
                                style="background-color: rgba(0, 255, 0, 0.5);"
                            {% else %}
                                style="background-color: rgba(255, 255, 0, 0.5);"
                            {% endif %}
                            class="popover__wrapper"
                        >
                            <div class="popover__content">
                                {{ toolkit.get_field(job, "exit_status_tooltip")?|escape("none") }}
                            </div>
                            {{ toolkit.get_field(job, "exit_status")? }} ⓘ
                        </td>
                    {% when TableStatType::More %}
                        <td>
                            <a href="stats?id={{ toolkit.get_field(job, "pbs_id")? }}">
                                <button class="table-button">View Detailed Stats</button>
                            </a>
                        </td>
                    {% when TableStatType::JobID %}
                        <td>
                            <b>{{ toolkit.get_field(job, "pbs_id")? }}</b>
                        </td>
                    {% when TableStatType::JobOwner %}
                        <td>
                            <a href="completed?user={{ toolkit.get_field(job, "owner")? }}">{{ toolkit.get_field(job, "owner")? }}</a>
                        </td>
                    {% when TableStatType::JobName %}
                        {% if toolkit.get_field(job, "name")?.len() > 18 %}
                            <td class="popover__wrapper">
                                <p>
                                    {{ toolkit.shorten(toolkit.get_field(job, "name")?|as_ref) }}ⓘ
                                </p>
                                <div class="popover__content">
                                    <p class="popover__message">
                                        <b>Full Job Name:</b><br>
                                        {{ toolkit.get_field(job, "name")? }}
                                    </p>
                                </div>
                            </td>
                        {% else %}
                            <td>{{ toolkit.get_field(job, "name")? }}</td>
                        {% endif %}
                    {% when TableStatType::Colored %}
                        {% let eff = toolkit.get_field(job, table_entry.value|as_ref)? %}
                        {% match toolkit.to_i32(eff|as_ref) %}
                            {% when Ok with (eff) %}
                                <td
                                    style="background-color: rgba({{ 255-(255*eff)/100 }}, {{ (205*eff)/100 }}, 0, 0.5);"
                                    class="popover__wrapper"
                                >
                                    <div class="popover__content">
                                        {{ toolkit.get_field(job, (table_entry.value.clone() + "_tooltip")|as_ref)?|escape("none") }}
                                    </div>
                                    <p style="white-space: nowrap;">{{ eff }}% ⓘ</p>
                                </td>
                            {% when Err with (_) %}
                                <td style="background-color: rgba(255, 255, 0, 0.5);">{{ eff }}%</td>
                        {% endmatch %}
                    {% when TableStatType::Default %}
                        <td>{{ toolkit.get_field(job, table_entry.value|as_ref)? }}{{ table_entry.value_unit.clone().unwrap_or(String::new()) }}</td>
                    {% endmatch %}
                {% endfor %}
            </tr>
        {% endfor %}
        </table>
    </div>
{% endif %}
{% endblock %}