{% extends "base.html" %}

{% block body %}
    <style>
        .container {
            display: flex;
        }

        /* Styling for the navbar items */
        .navbar {
            position: fixed;
            top: 60px;    /* offset = header’s height */
            left: 0;
            z-index: 1001;

            width: 200px;
            height: calc(100% - 60px); /* Full height minus header height */

            background-color: #fff;
            padding: 15px;
            border-right: 1px solid #ccc;
            display: flex;
            flex-direction: column;
            align-items: center; /* Center items horizontally */
        }

        .nav-item {
            width: 100%; /* Make the nav items full width */
            padding: 10px;
            margin: 10px 0;
            background-color: #f4f4f4; /* Light background for nav items */
            border: 1px solid #ccc;
            border-radius: 5px;
            text-align: center; /* Center text */
            transition: background-color 0.3s, transform 0.2s; /* Smooth transitions */
        }
        .nav-item:hover {
            background-color: #e9e9e9; /* Slightly darker background on hover */
            transform: translateX(2px); /* Slight lift effect */
        }

        .nav-item h2 {
            margin: 0;
            font-size: 1.0em; /* Slightly larger text */
        }

        /* Styling for Groups */
        .groups {
            width: 100%; /* Make groups item full width */
            text-align: center; /* Center the text */
        }

        .group-item {
            margin: 5px 0; /* Space between group items */
            padding: 5px;
            background-color: #e9e9e9; /* Slightly darker background for groups */
            border: 1px solid #ccc;
            border-radius: 5px;
            transition: background-color 0.3s, transform 0.2s; /* Smooth transitions */
        }
        .group-item:hover {
            background-color: #dcdcdc; /* Darker shade on hover */
            transform: translateX(2px); /* Slight right effect */
        }

        .navbar ul {
            list-style-type: none;
            padding: 0;
        }

        .navbar li {
            margin: 10px 0;
        }

        .navbar a {
            text-decoration: none;
            color: #A40000; /* NIU Red */
        }

        .job-display {
            flex: 1;
            margin-top: 60px; /* Offset the navbar height */
            margin-left: 230px; /* Offset the navbar width */
        }
        .job-table-container {
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 40px;
        }

        /* Styling for the job section headers */
        .job-section-header {
            position: sticky;
            top: 80px;
            left: 200px;
            margin-left: 10px;
            margin-right: 10px;
            z-index: 998; /* so it stays on top of the page content */

            height: 20px;
            width: calc(100% - 70px); /* Full width minus navbar width */

            background-color: lightgrey; /* NIU Red */
            color: rgb(37, 36, 36); /* White text */
            border: 4px solid rgb(194, 193, 193);
            padding: 20px;
            border-radius: 8px; /* Rounded edges */
            text-align: center; /* Center-aligned text */
            font-size: 20px; /* Larger font size for better visibility */
        }
        
        .topGradient{
            height: 200px;
            width: 100%;
            background:linear-gradient(rgba(255, 255, 255, 1.0) 50%, rgba(255, 255, 255, 0));
            position: fixed;
            top:0px;
            z-index: 100;
        }

        /* Styling for job header */
        .job-header {
            background-color: lightgrey; /* NIU Red */
            color: black;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 10px; /* Space below the header */
        }
        .job-header p {
            text-align: center;
        }

        /* Table styling */
        .job-table {
            width: 100%;
            border-collapse: collapse; /* Remove double borders */
        }
        .job-table th, .job-table td {
            padding: 8px;
            border: 1px solid #ccc; /* Light gray border */
            text-align: center; /* Center align text */
        }
        .job-table th {
            background-color: rgba(0, 0, 0, 0.15); /* NIU Red */
            color: black; /* White text for headers */
        }
        .job-table tr:nth-child(even) {
            background-color: rgba(0, 0, 0, 0.05); /* Light gray for even rows */
        }
        /* Hover effect - Darker and transform larger, smoothly */
        .job-table tr:hover:nth-child(n+2) {
            background-color: rgba(0, 0, 0, 0.15); /* Slightly darker shade on hover */
            transform: scale(1.005); /* Slightly larger on hover */
            transition: background-color 0.2s, transform 0.2s; /* Smooth transitions */
        }

        /* Additional styling for nodes section */
        .job-nodes {
            background-color: lightgrey; /* NIU Red */
            color: black;
            padding: 10px;
            margin-bottom: 10px;
        }
        .job-nodes p {
            text-align: center;
        }

        /* Styling for charts */
        .progress-bar {
            position: relative;
            background: #ddd;
            border-radius: 8px;
            height: 16px;
            width: 100%;
            margin: 5px 0;
            overflow: hidden;
        }
        .progress-fill {
            height: 100%;
            border-radius: 8px;
            text-align: center;
            line-height: 16px;
            color: white;
            font-size: 10px;
        }

        /* Must also center the form elements */
        .filter-container {
            display: flex;
            flex-direction: column; /* Arrange items in a column */
            align-items: center; /* Center items horizontally */
            justify-content: center; /* Center items vertically */
        }
        .filter-container, .sort-container {
            width: 100%;
            margin-top: 20px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f9f9f9;
        }

        .filter-container h3, .sort-container h3 {
            font-size: 1.2em;
            margin: 0 0 10px;
            text-align: center;
        }

        .filter-container input, .sort-container select {
            width: calc(100% - 20px); /* Full width minus padding */
            padding: 10px;
            margin: 5px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        #search-button {
            background-color: #A40000; /* NIU Red */
            color: white;
            border: none;
            padding: 10px;
            margin-top: 20px;
            cursor: pointer;
            border-radius: 5px;
            transition: background-color 0.3s, transform 0.2s; /* Smooth transitions */
        }
        #search-button:hover {
            background-color: #900000; /* Darker shade of NIU Red on hover */
            transform: translateY(-2px); /* Slight lift effect */
        }
    </style>

    <!-- Main Container -->
    <div class="container">
        <!-- Left Navigation Bar -->
        <nav class="navbar" id="navbar">
            {% block navbar %}{% endblock %}
        </nav>

        <!-- Job Display Area -->
        <main class="job-display">
            <h2 class="job-section-header">
                {{ header }}
            </h2>
            <section class="job-table-container">
                {% block pre_jobs %}{% endblock %}
                {% block jobs %}{% endblock %}
            </section>
            {% match alert %}
                {% when Some with (alert) %}
                    <p id="alert-footer" style="text-align:center">
                        {{ alert|as_ref|escape("none") }}
                    </p>
                {% when None %}
                    {% if let PageType::Stats = page_type %}
                        <!-- :3 -->
                    {% else %}
                        {% if jobs.len() == 0 %}
                            <p id="alert-footer" style="text-align:center">
                                No jobs found!
                            </p>
                        {% endif %}
                    {% endif %}
            {% endmatch %}
        </main>
        <div class="topGradient"></div>
    </div>
{% endblock %}